@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
      height: 100vh;
      display: block;
    }
    .container nav{
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container nav ul{
        display: none;
    }
    .hamburger{
        position: fixed;
        top: 35px;
        right: 40px;
        display: block;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }
    .hamburger.navMali-active1 .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.navMali-active1 .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.navMali-active1 .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navMali{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 25vh;
        background-color: black;
        position: fixed;
        top: 12vh;
        right: -100%;
        z-index: 1;
        transition: 0.3s ease-in-out;
    }
    .navMali-active{
        right: 0;
    }
    .navMali-active1{
        right: 40;
    }
    .navMali .maliUL{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        font-size: 14pt;
    }
    .navMali .maliUL li{
        list-style: none;
    }
    .navMali .maliUL li a{
        text-decoration: none;
        color: #fff;
    }
    nav ul{
        margin-right: 0px;
    }
    nav ul li{
        display: inline-block;
        margin: 0 20px;
    }
    nav ul li a{
        font-size: 12pt;
    }
    nav ul li a:after{
        transition: none;
    }
    nav ul li a:hover:after{
        width: 0%;
    }
    .container p{
        font-size: 16pt;
        margin-left: 20px;
    }
    .osajtu{
        width: 100%;
    }
    .left-col{
        width: 100%;
        height: 100%;
    }
    .left-col h1{
        font-size: 26pt;
        margin-top: 130px;
        margin-left: 20px;
        padding-left: 20px;
        flex-basis: none;
    }
    .left-col h1::before{
        height: 15%;
        top: 27%;
        left: 40px;
        padding: 0px;
    }
    .osobe{
        margin-top: 100px;
    }
    .osobe-pics:hover{
        transform: none;
    }
    .info{
        display: none;
    }
    .container .container-novi h3 span{
        font-size: 16pt;
        margin-bottom: 30px;
        margin-right: 40px;
        color:rgb(121, 83, 210);
    }
    .about-text span{
        color: #f9004d; 
    }
    .right-col h3{
        font-size: 12pt;
    }
    .forma-dugme{
        width: 60%;
    }
    .right-col h3::before{
        left: 20px;
    }
    .right-col h4{
        bottom: 80px;
    }
    .back-video{
        display: none;
    }
    .right-col{
        background-color: transparent;
    }
    .omeni{
        height: 100vh;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(128,37,224,1) 0%, rgba(9,9,121,1) 30%, rgba(2,0,36,1) 100%);
    }
    .main{
        width: 95%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    .main img{
        width: 300px;
    }
    .about-text h2{
        font-size: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-text p{
        margin-bottom: 60px;
        margin-top: 40px;
    }
    .about-text{
        width: 400px;
    }
    .link-pitaj{
        color: #fff;
    }
    .download{
        color: #fff;
    }
    .link-pitaj:hover{
        background: rgb(121, 83, 210);
        border: 2px solid transparent;
    }
    .download:hover{
        background: #f9004d;
        border: 2px solid transparent;
    }
    .dodaj-muziku{
        padding-bottom: 100px;
    }
    .middle h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 80px;
    }
    .middle{
        padding: 20px 0px 0px 0px;
    }
    .table1{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .table2{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .table2 tr th{
        font-size: 12pt;
    }
    .table2 tbody{
        font-size: 10pt;
    }
    .back-button img{
        right: 40px;
        bottom: 20px;
    }
    #preloader{
        background-size: 30%;
    }
  }
